<p id="notice"><%= notice %></p>


<div class="dig-list-header">
</div>

<div class="dig-organisations-list">
<% @organisations.each do |organisation| %>
  <div class="dig-organisation-item">
    <div class="dig-organisation-item-picture">
    </div>
    <div class="dig-organisation-item-description">
      <%= organisation.description %>
    </div>
    <div class="dig-organisation-item-footer">
      <%= link_to("Wywietl profil", organisations_path(organisation)) %>
    </div>
  </div>
<% end %>
</div>
