<div class="about-main">
<div class="dig-about-content">
<section>
  Jesteśmy grupą zrzeszającą organizacje charytatywne wraz z programistami. Przykładamy dużą wagę do weryfikacji organizacji jak i samych programistów którzy się do nas zgłaszają. Chcemy pomagać wiarygodnym organizacjom które na prawdę potrzebują pomocy. Szukamy nie tylko młodych stażem osób ale również tych doświadczonych, którzy będą ich opiekunami. Dzięki temu mamy pewność, że jakość dostarczanego przez nich oprogramowania będzie na jak najwyższym poziomie. Zbieramy dokładne informacje za równo na temat projektu od organizacji, jak i o zdolnościach i zainteresowaniach naszych kandydatów, tak aby dopasowanie było jak najlepsze. Wierzymy, że dobro wraca, dlatego cały proces nie zawiera żadnych opłat. Pomagamy potrzebującym, aby Ci mogli pomagać dalej.
  <h2>So doITgood!</h2>
</section>
</div>
</div>