
<div class="dig-contact-us">
  <div class="dig-contact-us-content">
    <div class="dig-contact-us-title">
      <h1 class="dig-contact-us-title">
        Skontaktuj się z nami
      </h1>
    </div>

    <form>
      <div class="name-area">
        <label for="name">Imię i nazwisko:</label>
        <input name="name" type="text" name="name" placeholder="Imię i nazwisko">
      </div>

      <div class="email-area">
        <label for="email">Email:</label>
        <input name="email" type="email" name="email" placeholder="Email">
      </div>

      <div class="message-area">
        <label for="message">Wiadomość:</label>
        <textarea name="message" placeholder="Miejsce na wiadomosc"></textarea>
      </div>

      <div class="dig-button-area">
        <button>Submit</button>
      </div>
    </form>
  </div>
</div>
