<div class="home-main">
  <div class="dig-row">
    <div class="background-image">
      <%= image_tag("main_1.png")%>
    </div>
    <section class="dig-text-area">
      <h1 class="dig-section-title">
        Lorem ipsum dolor
      </h1>
      <p class="dig-section-content">
        Khao Manee cats are pure white with a short, smooth, close-lying coat. <br />
        They can have blue eyes, gold eyes or odd-eyes with one of each colour.<br />
        The odd-eyed Khao Manee is the rarest variety. <br />
        They are muscular, athletic cats of moderate foreign type and are reputed to be active,<br />
        communicative and intelligent.
      </p>
    </section>
  </div>

  <div class="dig-row even">
    <div class="background-image">
      <%= image_tag("main_2.png")%>
    </div>
    <section class="dig-text-area">
      <h2 class="dig-section-title">
        Lorem ipsum dolor
      </h2>
      <p class="dig-section-content">
        Khao Manee cats are pure white with a short, smooth, close-lying coat. <br />
        They can have blue eyes, gold eyes or odd-eyes with one of each colour.<br />
        The odd-eyed Khao Manee is the rarest variety. <br />
        They are muscular, athletic cats of moderate foreign type and are reputed to be active,<br />
        communicative and intelligent.
      </p>
    </section>
  </div>

  <div class="dig-row image-area">
    <%= image_tag("main_3.png")%>
    <%= image_tag("main_4.png")%>
  </div>
</div>