// colors
$main-color: #860303;
$border-color: #707070;
$text-color: #3b3b3b;
// fonts
@font-face {
  font-family: 'Lato-Regular';
  src: font-url("/assets/Lato-Regular.ttf");
}

$font-text-regular: 'Lato-Regular'
