html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-flow: column;

    nav {
      height: 100px;
    }

    .dig-main {
      height: 100%;
      flex-grow: 1;
      background-color: grey;
      display: flex;
      flex-flow: row;
    }

    footer {
      height: 100px;
      background-color: aqua;;
    }
  }
}
