html {
  height: 100%;

  body {
    height: 100%;

    .dig-body {
      display: flex;
      flex-flow: column;

      nav {
        height: 100px;
        background-color: red;
      }

      .dig-main {
        height: 100%;
        flex-grow: 1;
        background-color: grey;
      }

      footer {
        height: 100px;
        background-color: aqua;;
      }
    }
  }

}
